server:
  port: 8080

spring:
  application:
   name: gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/uaa/**
          filters:
             - StripPrefix=1
        - id: movie-service
          uri: lb://movie-service
          predicates:
            - Path=/movies/**, /actors/**
          filters:
            - name: RequestRateLimiter
              args:
              # Rate-limit = 5 reqs/min/user
                redis-rate-limiter.replenishRate: 1
                redis-rate-limiter.burstCapacity: 60
                redis-rate-limiter.requestedTokens: 12
                key-resolver: "#{@userKeyResolver}"

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

management:
  health:
    redis:
      enabled: true
  endpoints:
    web:
      exposure:
        include: prometheus, health, info, gateway
